* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    background: black;
    height: 100vh;
}

.coracao {
    width: 100px;
    height: 100px;
    background: red;
    transform: rotate(-45deg);
    animation: beat 1s infinite;
    box-shadow: 0 0 20px, 0 0 40px;
    position: relative;
}

.coracao::before, .coracao::after {
    content: "";
    width: 100px;
    height: 100px;
    background: red;
    border-radius: 50%;
    position: absolute;
}

.coracao::before {
    top: -50px;
    left: 0;
}

.coracao::after {
    top: 0;
    left: 50px;
}

@keyframes beat {
    0%, 100% {
        transform: scale(1) rotate(-45deg);
    }

    50% {
        transform: scale(1.2) rotate(-45deg);
    }
}